body {
  font-family: 'IM Fell DW Pica', serif;
  color: #181818;
  font-size: 18px;
  padding-top: 65px;
}

a {
  text-decoration: none;
  color: #181818;
}

a:hover {
  color: #181818;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 50px;
}

h1 {
  font-size: 20px;
  margin: 0 0 60px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h2 {
  font-size: 18px;
  text-transform: uppercase;
}

img {
  margin-bottom: 50px;
}

h1,
h2 {
  font-weight: 500;
}

p {
  margin-bottom: 20px;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 750px;
}

.header {
  margin-left: -15px;
}

.header-brand {
  display: inline-block;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-style: italic;
  color: #181818;
  padding: 12px 15px;
}


.nav {
  font-size: 14px;
  line-height: 28.5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.nav-links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav-item {
  display: block;
}

.nav-link {
  display: block;
  color: #777;
  padding: 15px;
}

.poems {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.poems a {
  text-transform: uppercase;
  padding: 15px 0;
  font-size: 16px;
  letter-spacing: 5px;
  display: inline-block;
  color: inherit;
}

.poem + .poem {
  margin-top: 60px;
}

.poem h2 {
  margin-bottom: 30px;
}

.description {
  margin-top: 90px;
}

.footer {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 100px 0 20px;
}
