<!doctype html>
<html lang="en-CA">
  <head>
    <meta charset="utf-8">
    <title>Petal Journal - {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-reboot@4.5.6/reboot.css" integrity="sha256-NqCb52G5cOo+mE3Q1asDA+xnvGifFUpu4N5+7vWLyD0=" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <div class="container">
      <header class="header">
        <a class="header-brand" href="/">Petal Journal</a>
        <nav class="nav" role="navigation">
          <ul class="nav-links">
            {% for item in site.data.navigation %}
              <li class="nav-item">
                <a class="nav-link" href="{{ item.link }}" {% if page.url == item.link %}aria-current="page"{% endif %}>
                  {{ item.name }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </header>
      <main>
        {{ content }}
      </main>
    <footer class="footer">
      <p>© 2022 Petal Journal</p>
    </footer>
  </body>
</html>
